.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron {
  margin-bottom: 0;
}

.sublease-h1 {
  margin: 20px 20px auto 20px;
  text-align: left;
}


.view-sublease-card {
  width: 50%;
  height: 80%;
  margin: auto auto;
  top: 5%;
  bottom: 5%;
  background: var(--GrayNurse);
}

.sublease-card-img {
  width: 100%;
  height: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sublease-card-description {
  width: 100%;
  height: auto;
}

.sublease-card-row {
  width: 100%;
  display: inline-block;
}
