<div class="container-fluid" style="overflow-x: hidden">
  <div *ngIf="subletError" class="col justify-content-center">
    <!-- Images courtesy of Scott Tusk https://dribbble.com/Tusk -->
    <img src="../../assets/images/generic_400_error.png" class="rounded mx-auto d-block" height="500" width="666"/>
  </div>
  <div *ngIf="sublet">
    <div class="row justify-content-center" style="padding-left: 0; padding-right: 0">
      <img class="card-img-top img-fluid"
           src={{this.imageService.getPhoto(sublet)}}
           alt="Photo of a Property Listing">
    </div>
    <div class="sublease-content">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <h3 style="float: left">{{sublet.address}}</h3>
          </div>
          <div class="row">
            <p *ngFor="let tag of sublet.tags" style="padding-right: 10px; color: var(--GrayChateau)">{{tag}}</p>
          </div>
          <div class="row">
            <p>{{sublet.description}}</p>
          </div>
          <hr>
          <div class="row">
            <div style="display: inline-block; float: left">
              <p>Amentities</p>
              <span *ngFor="let amenity of sublease.amenities" matTooltip="{{amenity.title}}"><mat-icon
                style="margin-right: 16px" svgIcon="{{amenity.url}}"></mat-icon></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <p class="mb-0" (click)="toggle(sublet.roommates.length)">
              {{sublet.roommates.length}} {{sublet.roommates.length != 1 ? 'Roommates':'Roommate'}}
            </p>
          </div>
          <div class="row">
            <div class="col-12" style="">
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul class="list-group list-group-header">
                    <li class="list-group-item list-group-body">
                      <div class="row" style="font-weight: bold">
                        <div class="col-3 text-left">Age</div>
                        <div class="col-3">Grade</div>
                        <div class="col-3">Major</div>
                        <div class="col-3">Sex</div>
                      </div>
                    </li>
                  </ul>
                  <ul class="list-group list-group-body" style="">
                    <li class="list-group-item" *ngFor="let roommate of sublet.roommates">
                      <div class="row">
                        <div class="col-3 text-left" style=" ">
                          {{roommate.age? (roommate.age) : '...'}}
                        </div>
                        <div class="col-3" style="">{{roommate.grade? (roommate.grade) : '...'}}</div>
                        <div class="col-3" style="">{{roommate.major? (roommate.major) : '...'}}</div>
                        <div class="col-3" style="">{{roommate.sex? (roommate.sex) : '...'}}</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <p>Ratings</p>
          </div>
          <div class="row">
            <p-rating *ngIf="!rated"
                      style="display: inline-block; margin-right: 14px; font-size: larger"
                      (onRate)="rate($event.value)" [(ngModel)]="sublet.rating"
                      [cancel]="false"></p-rating>
            <p-rating *ngIf="rated"
                      style="display: inline-block; margin-right: 14px; font-size: larger; color: red !important"
                      [(ngModel)]="rating"
                      readonly="true"
                      [cancel]="false"></p-rating>
            <label style="display: inline-block;">{{sublet.rating | number:'.2-2'}}</label>
          </div>
        </div>
        <div class="col-3">
          <div class="row justify-content-end">
            <h4>{{sublet.price != (undefined || 0) ? '$' + (sublet.price | number:'.0-0') :
              'Message
              For Price'}}</h4>
          </div>
          <div style="margin-bottom: 3em" class="row justify-content-end">
            <div class="share-price-btn">
              <button class="btn" *ngIf="currentUser && sublet.email != currentUser.email"
                      (click)="favorite(sublet.id)">
                <i [style.color]="savedPost ? 'red':'slategray'" class="fa fa-heart" aria-hidden="true"></i>️
              </button>
              <button class="btn" (click)="share()"><i class="fa fa-share" aria-hidden="true"
                                                       style="color: dodgerblue;"></i>️
              </button>
              <button class="btn" *ngIf="currentUser && sublet.email == currentUser.email" (click)="edit()"><i
                class="fa fa-edit" aria-hidden="true" style="color: slategray;"></i>️
              </button>
            </div>
          </div>
          <div *ngIf="sublet?.openHouse" class="row justify-content-end">
            <h4>Open House Date</h4>
          </div>
          <div *ngIf="sublet?.openHouse" class="row justify-content-end">
            <p style="color: var(--GrayChateau)">{{sublet.openHouse | date:"medium"}}</p>
          </div>
          <div class="row footer-btn">
            <button class="btn" [routerLink]="['/profile', sublet.email]">View Profile <i class="fa fa-link"
                                                                                          aria-hidden="true"
                                                                                          style="color: slategray;"></i>️
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
