<div class="jumbotron vertical-center">
  <div class="container">
    <div class="card view-sublease-card" *ngIf="sublet">
        <img class="card-img-top img-fluid" 
             src={{this.imageService.getPhoto(sublet)}}
             alt="Photo of a Property Listing">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 style="float: left">{{sublet.address}}</h3>
          </div>
          <div class="col">
            <h4 style="float: right">${{sublease.price}}</h4>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <p style="float: left; color: var(--GrayChateau)">{{sublet.description}}</p>
          </div>
          <div class="w-100"></div>
          <div class="col" id="roommateAccordition">
            <div class="card-header" role="tab" id="headingOne">
              <p class="mb-0" (click)="toggle(sublet.roommates.length)">
                Roommates: {{sublet.roommates.length}}
              </p>
            </div>
            <div class="row" [ngClass]="{hide: !opened}">
              <div class="col-12" style="">
                <div class="panel panel-default list-group-panel">
                  <div class="panel-body">
                    <ul class="list-group list-group-header">
                      <li class="list-group-item list-group-body">
                        <div class="row">
                          <div class="col-3 text-left">Age</div>
                          <div class="col-3">Grade</div>
                          <div class="col-3">Major</div>
                          <div class="col-3">Sex</div>
                        </div>
                      </li>
                    </ul>
                    <ul class="list-group list-group-body" style="">
                      <li class="list-group-item" *ngFor="let roommate of sublet.roommates">
                        <div class="row">
                          <div class="col-3 text-left" style=" ">
                            {{roommate.age? (roommate.age) : '...'}}
                          </div>
                          <div class="col-3" style="">{{roommate.grade? (roommate.grade) : '...'}}</div>
                          <div class="col-3" style="">{{roommate.major? (roommate.major) : '...'}}</div>
                          <div class="col-3" style="">{{roommate.sex? (roommate.sex) : '...'}}</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <p style="color: var(--GrayChateau)">Open House: {{sublet.openHouse | date:"medium"}}</p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div style="display: inline-block; float: left">
              <p>Amentities</p>
              <span *ngFor="let amenity of sublease.amenities" matTooltip="{{amenity.title}}"><mat-icon
                style="margin-right: 16px" svgIcon="{{amenity.url}}"></mat-icon></span>
            </div>
          </div>
          <div class="col" style="text-align: right">
            <div class="footer-btn">
              <button class="btn" (click)="favorite()"><i class="fa fa-heart" aria-hidden="true"
                                                          style="color: red;"></i>️
              </button>
              <button class="btn" (click)="share()"><i class="fa fa-share" aria-hidden="true"
                                                       style="color: dodgerblue;"></i>️
              </button>
              <button class="btn" *ngIf="currentUser && sublet.email == currentUser.email" (click)="edit()"><i
                class="fa fa-edit" aria-hidden="true" style="color: slategray;"></i>️
              </button>
            </div>
            <div style="margin-top: 10px">
              <button class="btn" [routerLink]="['/profile', sublet.email]">View Profile <i class="fa fa-link"
                                                                                            aria-hidden="true"
                                                                                            style="color: slategray;"></i>️
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
