<div class="jumbotron vertical-center">
  <div class="container">
    <div class="card view-sublease-card">
        <img class="card-img-top img-fluid"
             src={{sublease.url}}
             alt="Photo of a Property Listing">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 style="float: left">{{sublet.address}}</h3>
          </div>
          <div class="col">
            <h4 style="float: right">${{sublease.price}}</h4>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <p style="float: left; color: var(--GrayChateau)">{{sublet.description}}</p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <p style="float: left; color: var(--GrayChateau)">Roommates: {{sublet.roommates}}</p>
          </div>
          <div class="col">
            <p style="color: var(--GrayChateau)">Open House: {{sublet.openHouse | date:"medium"}}</p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div style="display: inline-block; float: left">
              <p>Amentities</p>
              <span *ngFor="let amenity of sublease.amenities" matTooltip="{{amenity.title}}"><mat-icon
                style="margin-right: 16px" svgIcon="{{amenity.url}}"></mat-icon></span>
            </div>
          </div>
          <div class="col" style="text-align: right">
            <div class="footer-btn">
              <button class="btn" (click)="favorite()"><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️</button>
              <button class="btn" (click)="share()"><i class="fa fa-share" aria-hidden="true" style="color: dodgerblue;"></i>️</button>
              <button class="btn" *ngIf="currentUser != undefined && sublet.email == currentUser.email" (click)="edit()"><i class="fa fa-edit" aria-hidden="true" style="color: slategray;"></i>️
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
