<div class="container">
  <md-toolbar color="primary">
    <md-form-field class="search-form" color="white" floatPlaceholder="never">
      <input mdInput placeholder="Search here">
      <md-icon class="material-icons">search</md-icon>
    </md-form-field>
    <span class="search-spacer"></span>
    <button md-raised-button color="dark-primary" class="btn-toolbar">Help</button>
    <a [routerLink]="['/post']"><button md-raised-button class="mat-warn btn-toolbar">Post</button></a>
    <a (click)="openRegisterDialog()"><button md-raised-button class="mat-warn btn-toolbar">Register</button></a>
    <a (click)="openLoginDialog()"><button md-raised-button class="mat-accent btn-toolbar">Login</button></a>
  </md-toolbar>
  <div class="search">
    <md-card *ngFor="let property of subleases" class="listing-card">
      <md-card-header style="margin-bottom: 20px">
        <md-card-header>{{property.title}}</md-card-header>
      </md-card-header>
      <img md-card-image src={{property.url}} alt="Photo of a Property Listing">
      <md-card-content>
        <md-expansion-panel>
        <md-expansion-panel-header>
          <md-panel-title>
            Description
          </md-panel-title>
        </md-expansion-panel-header>
          <p>
            {{property.desc}}
          </p>
        </md-expansion-panel>

        <button md-icon-button color="primary">
          <md-icon>plus_one</md-icon>
        </button>
        <button md-icon-button color="primary">
          <md-icon >share</md-icon>
        </button>
      </md-card-content>
    </md-card>
  </div>
</div>
