<div class="container-fluid landing-page">
  <div class="container-fluid search">
    <div class="row">
      <nav *ngIf="sidebar" [@enterAnimation] id="sidebar" class="col-md-2 sidebar">
        <div class="sidebar-header header-cover" style="background-image: url(http://www.emintrinsic.com/Content/img/left.png);">
          <div data-toggle="dropdown" class="sidebar-brand">
            <p>Firstname Lastname</p>
            <p>email@domainname.com</p>
          </div>
        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
          <p>Dummy Heading</p>
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><a href="#">Home 1</a></li>
              <li><a href="#">Home 2</a></li>
              <li><a href="#">Home 3</a></li>
            </ul>
          </li>
          <li>
            <a href="#">About</a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="container col-sm-10">
        <div class="row">
          <div class="card listing-card col-md-5" *ngFor="let property of sublets">
            <a [routerLink]="['/view-sublease', property.id]" style="text-decoration: none; color: black">
              <img class="card-img-top img-fluid"
                   src={{subleases[0].url}}
                   alt="Photo of a Property Listing">
            </a>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <!--<h3>{{subleases[0].title}}</h3>-->
                  <h3 style="float: left">{{property.address}}</h3>
                </div>
                <div class="col">
                  <h4 style="float: right">${{subleases[0].price}}</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <p style="float: left; color: var(--GrayChateau)">{{property.description}}</p>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div style="display: inline-block; float: left">
                    <p>Amentities</p>
                    <span *ngFor="let amenity of subleases[0].amenities" matTooltip="{{amenity.title}}"><mat-icon
                      style="margin-right: 16px" svgIcon="{{amenity.url}}"></mat-icon></span>
                  </div>
                </div>
                <div class="col" style="text-align: right">
                  <div class="footer-btn">
                    <button class="btn" (click)="favorite()"><i class="fa fa-heart" aria-hidden="true"
                                                                style="color: red;"></i>️
                    </button>
                    <button class="btn" (click)="share()"><i class="fa fa-share" aria-hidden="true"
                                                             style="color: dodgerblue;"></i>️
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
