.container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search {
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfb53b+0,98700d+100&0.73+36,1+100 */
  background: -moz-linear-gradient(left, rgba(207,181,59,0.73) 0%, rgba(187,156,42,0.73) 36%, rgba(152,112,13,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(207,181,59,0.73) 0%,rgba(187,156,42,0.73) 36%,rgba(152,112,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(207,181,59,0.73) 0%,rgba(187,156,42,0.73) 36%,rgba(152,112,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacfb53b', endColorstr='#98700d',GradientType=1 ); /* IE6-9 */
}

.listing-card {
  width: 200px;
  height: 300px;
  margin: 20px 20px;
  display: inline-block;
}
