a:hover {
  cursor:pointer;
}

.sidenav {
  width: 20%;
}

.sidenav-user-name {
  text-align: center;
}

.sidenav-nav-item {
  text-align: center;
}

.sidenav-nav-button {
  width: 100%;
  font-size: 16pt;
}



.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search {
  height: auto;
  background: var(--OxfordBlue);
}

.search-spacer {
  flex: 1 1 auto;
}

.btn-toolbar {
  margin-right: 20px;
}

.listing-card {
  width: 95%;
  height: auto;
  margin: 20px 20px;
  display: inline-block;
  background: var(--GrayNurse);
}

.listing-card-img {
  width: 20%;
  height: 100%;
  min-height: 250px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.listing-card-description {
  width: 70%;
  height: auto;
  float: right;
}

.listing-card-row {
 width: 100%;
  display: inline-block;
}

.listing-card mat-card-header {
  margin-left: auto;
  margin-right: auto;
}

.listing-card mat-card-header-text {
  margin-left: auto;
  margin-right: auto;
}
