<div class="container-fluid landing-page">
  <div class="container-fluid search">
    <div class="row">
      <nav *ngIf="dataService.sidebar" [@enterAnimation] id="sidebar" class="col-md-3 sidebar">
        <div class="sidebar-header header-cover"
             style="background-image: url(http://www.emintrinsic.com/Content/img/left.png);">
          <div *ngIf="this.currentUser" data-toggle="dropdown" class="sidebar-brand">
            <p>{{this.currentUser.name}}</p>
            <p>{{this.currentUser.email}}</p>
          </div>
        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled">
          <li>
            <p>Price</p>
            <div class="components">
              <div class="row justify-content-between">
                <input type="number" [(ngModel)]="landingFilter.costFilter[0]" class="form-control input-rounded"
                       readonly>
                <input type="number" [(ngModel)]="landingFilter.costFilter[1]" class="form-control input-rounded"
                       readonly>
              </div>
              <p-slider [(ngModel)]="landingFilter.costFilter" [style]="{'height':'10px', 'margin-top':'30px'}"
                        [animate]="true" [range]="true" [min]="0" [max]="2000"></p-slider>
            </div>
          </li>
          <hr>
          <li>
            <p>Rating</p>
            <div class="components">
              <div class="row justify-content-between">
                <input type="number" [(ngModel)]="landingFilter.ratingFilter[0]" class="form-control input-rounded"
                       readonly>
                <input type="number" [(ngModel)]="landingFilter.ratingFilter[1]" class="form-control input-rounded"
                       readonly>
              </div>
              <p-slider [(ngModel)]="landingFilter.ratingFilter" [style]="{'height':'10px', 'margin-top':'30px'}"
                        [animate]="true" [step]="1" [range]="true" [min]="1" [max]="5"></p-slider>
            </div>
          </li>
          <hr>
          <li>
            <p>Tags</p>
            <div class="components">
              <p-chips [style]="{'margin-bottom':'30px'}" [(ngModel)]="landingFilter.tagFilter"></p-chips>
              <p-multiSelect [options]="landingFilter.tags" [optionLabel]="label" [dataKey]="value"
                             [(ngModel)]="landingFilter.tagFilter" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
            </div>
          </li>
          <hr>
          <li>
            <p>Apply Filters</p>
            <div class="components row justify-content-between">
              <button class="btn btn-secondary"
                      (click)="resetFilters()">
                Reset
              </button>
              <button class="btn btn-primary"
                      (click)="applyFilters(landingFilter.costFilter, landingFilter.ratingFilter, landingFilter.tagFilter)">
                Apply
              </button>

            </div>
          </li>
          <hr>
        </ul>
      </nav>
      <div class="container col-md-9">
        <div *ngIf="subletsError" class="col justify-content-center">
          <!-- Images courtesy of Scott Tusk https://dribbble.com/Tusk -->
          <img src="../../assets/images/empty_state.jpg" class="rounded mx-auto d-block" height="600" width="800"/>
          <br>
          <h3 style="text-align: center; color: var(--DarkGray)">Sorry, unable to load any subleases</h3>
        </div>
        <div *ngIf="!subletsError" class="row justify-content-center">

          <!--| tagsPipe:landingFilter.tagFilter-->
          <div class="card listing-card col-md-5" *ngFor="let property of dataService.sublets | costPipe:landingFilter.costFilter">
            <a [routerLink]="['/view-sublease', property.id]" style="text-decoration: none; color: black">
              <div class="img-wrapper">
                <img class="card-img-top img-fluid" src="{{this.imageService?.getPhoto(property)}}"
                     alt="Photo of a Property Listing">
              </div>
            </a>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <!--<h3>{{subleases[0].title}}</h3>-->
                  <h3 style="float: left">{{property.address}}</h3>
                </div>
                <div class="col">
                  <h4 style="float: right">{{property.price != (undefined || 0) ? '$' + (property.price | number:'.0-0')
                    : 'Message For Price'}}</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <p style="float: left; color: var(--GrayChateau)">{{property.description}}</p>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <p-rating style="font-size: larger" [(ngModel)]="property.rating" readonly="true"
                            [cancel]="false"></p-rating>
                  <div class="footer-btn">
                    <button class="btn" [hidden]="currentUser?.email === property.email"
                            (click)="favorite(property)">
                      <i class="fa fa-heart" aria-hidden="true"
                         [style.color]="isPostSaved(property.id) ? 'red':'slategray'"></i>️
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
