<h2 md-dialog-title style="color: #FFC107">Register</h2>

<div md-dialog-content>
  <div class="email-input">
    <md-form-field style="width: 100%">
      <label>Name</label>
      <input mdInput type="text" ng-model="text" />
    </md-form-field>
  </div>
  <div class="email-input">
    <md-form-field style="width: 100%">
      <label>Email</label>
      <input mdInput type="email" ng-model="username" />
    </md-form-field>
  </div>
  <div class="password-input">
    <md-form-field style="width: 100%">
      <label>Password</label>
      <input mdInput type="password" ng-model="password" />
    </md-form-field>
  </div>
  <div class="password-input">
    <md-form-field style="width: 100%">
      <label>Confirm Password</label>
      <input mdInput type="password" ng-model="password" />
    </md-form-field>
  </div>

  <div md-dialog-actions class="register-div">
    <div class="register-btn-div">
      <button md-raised-button color="primary">Register</button>
    </div>
  </div>
</div>
