.navbar {
  background-color: var(--FuzzyWuzzyBrown);
}

a:hover {
  cursor:pointer;
  color: #ffb9b7;
}
a {
  color: var(--GrayNurse);
}

a:not([href]) {
  color: var(--GrayNurse);
}
a:not([href]):hover {
  color: #ffb9b7;
}
