<div class="container-fluid post-page">
  <h1 class="post-h1 mat-headline">Create a Post</h1>
  <form class="example-form" #postForm="ngForm">
    <div class="form-row">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" [(ngModel)]="post.address" id="inputAddress"
             name="address"
             aria-describedby="addressHelp"
             placeholder="Enter primary address">
      <small id="addressHelp" class="form-text text-muted">Your primary address.</small>
    </div>
    <div class="form-row">
      <label for="inputDescription">Sublet Description</label>
      <input type="text" class="form-control" [(ngModel)]="post.description" id="inputDescription"
             name="description"
             placeholder="Enter description">
    </div>
     <div class="form-row photo-upload">
      <div class="col">
        <label>Sublet Photos</label>
        <input name="uploadedFiles" class="row" type="file" accept="image/*" multiple [(ngModel)]="uploadedFiles"/>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">
            <mat-checkbox [(ngModel)]="post.hasRoommates" name="hasRoommates">Roommates</mat-checkbox>
          </label>
        </div>
      </div>
      <div class="col" *ngIf="post.hasRoommates">
        <label for="inputRoommates">Number of Roommates</label>
        <input type="number" class="form-control" [(ngModel)]="post.roommates" id="inputRoommates"
               name="roommates"
               placeholder="Enter number of roommates">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">
            <mat-checkbox [(ngModel)]="post.hasOpenHouse" name="hasOpenHouse">Open House</mat-checkbox>
          </label>
        </div>
      </div>
      <div class="col" *ngIf="post.hasOpenHouse">
        <label for="inputOpenHouse">Date</label>
        <div class="ui-g-12 ui-md-4">
          <p-calendar id="inputOpenHouse"
                      placeholder="Enter open house date"
                      name="openHouse"
                      type="datetime-local"
                      [(ngModel)]="post.openHouse" [showTime]="true"></p-calendar>
          {{post.openHouse | date:"medium"}}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">
            <mat-checkbox [(ngModel)]="post.isFurnished" name="isFurnished">Is Furnished</mat-checkbox>
          </label>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">Enter any tags you would like:
            <p-chips [(ngModel)]="tag_chips" name="tags"></p-chips>
          </label>
        </div>
      </div>
    </div>


    <div class="form-row">
      <label for="inputAmenities">Amentities</label>
      <mat-selection-list dense #amenitiesList id="inputAmenities">
        <mat-list-option *ngFor="let amenity of amenities">
          <mat-icon svgIcon="{{amenity.url}}"></mat-icon>
          <h3 matLine> {{amenity.title}} </h3>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div style="margin-top: 40px">
      <a *ngIf="dataService.post == undefined" (click)="submitForm()">
        <button mat-raised-button-bottom-right class="btn btn-primary btn-landing">Submit</button>
      </a>
      <a *ngIf="dataService.post != undefined" (click)="updateForm()">
        <button mat-raised-button-bottom-right class="btn btn-primary btn-landing">Update</button>
      </a>
    </div>
  </form>
</div>
