<div class="container-fluid post-page">
  <h1 class="post-h1 mat-headline">Create a Post</h1>
  <form class="example-form" novalidate [formGroup]="postForm">
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress"
             formControlName="address"
             aria-describedby="addressHelp"
             placeholder="Enter primary address">
      <small id="addressHelp" class="form-text text-muted">Your primary address.</small>
      <small *ngIf="!postForm.controls.address.valid" class="text-danger">An address is required.</small>
    </div>
    <div class="form-group">
      <label for="inputDescription">Sublet Description</label>
      <input type="text" class="form-control"
             formControlName="description"
             id="inputDescription"
             placeholder="Enter description">
    </div>
    <div class="form-group">
        <label for="inputSubletImage">Sublet Photo</label>
        <input type="file" 
               id="inputSubletImage"
               class="form-control-file"
               name="subletImage"
               accept="image/*"
        >
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="col">
          <div class="form-check">
            <label class="form-check-label">
              <mat-checkbox class="form-control" formControlName="hasRoommates" [value]="post.roommates.length > 0">
                Roommates
              </mat-checkbox>
            </label>
          </div>
        </div>
        <div class="col" formArrayName="roommates" *ngIf="postForm.controls.hasRoommates.value">

          <div *ngFor="let roommate of postForm.controls.roommates.controls; let i=index">
            <!-- roommate header, show remove button when more than one address available -->
            <div>
              <span>Roommate {{i + 1}}</span>
              <span *ngIf="postForm.controls.roommates.controls.length >= 1" (click)="removeRoommate(i)">
              <i matTooltip="Remove" class="fa fa-trash" aria-hidden="true"
                 style="color: var(--GrayNurse);"></i>
                </span>
            </div>

            <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <div [formGroupName]="i">
              <!--age-->
              <div>
                <label>age</label>
                <input type="number" formControlName="age">
                <!--display error message if age is not valid-->
                <small [hidden]="postForm.controls.roommates.controls[i].controls.age.valid">
                  Age is required
                </small>
              </div>
              <!--grade-->
              <div>
                <label>grade</label>
                <input type="string" formControlName="grade">
                <!--display error message if grade is not valid-->
                <small [hidden]="postForm.controls.roommates.controls[i].controls.grade.valid">
                  Grade is required
                </small>
              </div>
              <!--sex-->
              <div>
                <label>sex</label>
                <input type="string" formControlName="sex">
                <!--display error message if grade is not valid-->
                <small [hidden]="postForm.controls.roommates.controls[i].controls.sex.valid">
                  Gender is required
                </small>
              </div>
              <!--major-->
              <div>
                <label>major</label>
                <input type="text" formControlName="major">
              </div>
              <div>
              </div>
            </div>
          </div>
          <div class="margin-20">
            <a (click)="addRoommate()" style="cursor: default">
              Add another roommate +
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">
            <mat-checkbox class="form-control" formControlName="hasOpenHouse">Open House</mat-checkbox>
          </label>
        </div>
      </div>
      <div class="col" *ngIf="postForm.controls.hasOpenHouse.value">
        <label for="inputOpenHouse">Date</label>
        <div class="ui-g-12 ui-md-4">
          <p-calendar id="inputOpenHouse"
                      placeholder="Enter open house date"
                      type="datetime-local"
                      formControlName="openHouse"
                      [showTime]="true">
          </p-calendar>
          {{postForm.openHouse | date:"medium"}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">
            <mat-checkbox formControlName="isFurnished">Is Furnished</mat-checkbox>
          </label>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">Enter any tags you would like:
            <p-chips formControlName="tags" name="tags"></p-chips>
          </label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="inputAmenities">Amentities</label>
      <mat-selection-list dense #amenitiesList id="inputAmenities">
        <mat-list-option *ngFor="let amenity of amenities">
          <mat-icon svgIcon="{{amenity.url}}"></mat-icon>
          <h3 matLine> {{amenity.title}} </h3>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div style="margin-top: 40px">
      <a *ngIf="dataService.post == undefined" (click)="submitForm(postForm)">
        <button [disabled]="!postForm.valid" mat-raised-button-bottom-right class="btn btn-primary btn-landing">
          Submit
        </button>
      </a>
      <a *ngIf="dataService.post != undefined" (click)="updateForm(postForm)">
        <button mat-raised-button-bottom-right class="btn btn-primary btn-landing">Update</button>
      </a>
    </div>
</form>
</div>
