<div class="container-fluid profile-page">
  <div class="row" style="background-color: var(--Froly); min-height: 33vh">
    <div style="margin: auto; text-align: center">
      <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <img style="max-height: 300px;" alt="Profile Image" src="http://www.freeiconspng.com/uploads/profile-icon-9.png"
             class="img-responsive img-circle"/>
        <h3 style="position: absolute; top: 0; margin-top: 15px;">Michael Vieck</h3>
      </div>
      <div class="row" style="display: flex; align-items: center">
        <h3 style="float: left; margin-right: 50px">Age: 22</h3>
        <h3 style="float: right; margin-left: 50px">Major: Computer Science</h3>
      </div>


    </div>
  </div>
  <div class="container profile-items-container">
    <div class="row profile-items">
      <h3>Saved Subleases</h3>
      <div class="horizontal-card-list">
        <div class="card saved-card col-md-3" *ngFor="let property of savedSubleases">
          <a [routerLink]="['/view-sublease', property.id]" style="text-decoration: none; color: black">
            <img class="card-img-top img-fluid"
                 src={{savedSubleases[0].url}}
                 alt="Photo of a Property Listing">
          </a>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-7">
                <h5 style="float: left">{{property.address}}</h5>
              </div>
              <div class="col">
                <h5 style="float: right">${{property.price}}</h5>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <p style="float: left; color: var(--GrayChateau)">{{property.description}}</p>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-10">
                <p *ngIf="property.amenities == null">No amentities</p>
                <p *ngIf="property.amenities != null" style="margin-bottom: 0;">Amentities</p>
                <div class="row">
                  <mat-icon *ngFor="let amenity of property.amenities" matTooltip="{{amenity.title}}"
                            style="margin-right: 16px" svgIcon="{{amenity.url}}"></mat-icon>
                </div>
              </div>
              <div class="footer-btn">
                <i (click)="property.isFavorited = !property.isFavorited"
                   [style.color]="property.isFavorited == true ? 'red' : 'grey'" class="fa fa-heart"
                   aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-items">
      <h3>Posted Subleases</h3>
      <div class="horizontal-card-list">
        <div class="card posted-card col-md-3" *ngFor="let property of postedSubleases">
          <a [routerLink]="['/view-sublease', property.id]" style="text-decoration: none; color: black">
            <img class="card-img-top img-fluid listing-card-img"
                 src="{{property.url}}"
                 alt="Photo of a Property Listing">
          </a>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-7">
                <h5 style="float: left">{{property.address}}</h5>
              </div>
              <div class="col">
                <h5 style="float: right">${{property.price}}</h5>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <p style="float: left; color: var(--GrayChateau)">{{property.description}}</p>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-10">
                <p *ngIf="property.amenities == null">No amentities</p>
                <p *ngIf="property.amenities != null" style="margin-bottom: 0;">Amentities</p>
                <div class="row">
                  <mat-icon class="posted-icon" *ngFor="let amenity of property.amenities" matTooltip="{{amenity.title}}"
                            style="margin-right: 16px; color: white !important;" svgIcon="{{amenity.url}}"></mat-icon>
                </div>
              </div>
              <div class="footer-btn">
                  <i (click)="edit()" matTooltip="Edit" class="fa fa-edit" aria-hidden="true" style="color: var(--GrayNurse);"></i>️
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
