<div class="container-fluid profile-page">
  <div class="container profile-row" *ngIf="profile">
    <div class="col-8" style="display: flex; flex-direction: column; min-height: 33vh">
      <div class="row justify-content-between" style="margin-top: 15px;">
        <h3 style="margin-right: 50px">{{profile.name}}</h3>
        <h3 style="margin-left: 50px">{{profile.email}}</h3>
      </div>
      <div class="row justify-content-between" style="display: flex; align-items: center">
        <h3 *ngIf="profile.age" style="float: left; margin-right: 50px">{{profile.age}} years old</h3>
        <h3 *ngIf="profile.sex" style="float: right; margin-left: 50px">{{profile.sex}}</h3>
      </div>
      <div class="row justify-content-between" style="display: flex; align-items: center">
        <h3 *ngIf="profile.grade" style="float: left; margin-right: 50px">{{grades[profile.grade]?.name}}</h3>
        <h3 ngif="profile.major" style="float: right; margin-left: 50px">{{profile.major}}</h3>
      </div>
    </div>
    <div *ngIf="currentUser && profile.email == currentUser.email" class="edit-profile-btn-div">
      <button (click)="openProfileDialog()" class="btn btn-secondary">Edit <i matTooltip="Edit" class="fa fa-edit"
                                                                              aria-hidden="true"
                                                                              style="color: var(--GrayChateau);"></i>
      </button>
    </div>
  </div>
  <p-growl [value]="msgs"></p-growl>
  <p-confirmDialog></p-confirmDialog>
  <div class="container profile-items-container">
    <hr>
    <div *ngIf="currentUser && profile && profile.email == currentUser.email" class="row profile-items">
      <div class="col">
        <h3>Favorited Subleases</h3>
        <div [hidden]="!pullingFavoritedSublets" class="col justify-content-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div *ngIf="!pullingFavoritedSublets && (savedSubleases === undefined || savedSubleases.length === 0)">
          <br>
          <!-- Images courtesy of Scott Tusk https://dribbble.com/Tusk -->
          <img src="../../assets/images/fishing-empty-state.jpg" class="rounded d-block" height="300"
               width="400"/>
          <br>
          <h3 *ngIf="savedSubleases === undefined"
              style="text-align: left; color: var(--red)">Uh oh! A problem occured while loading favorites.</h3>
          <h3 *ngIf="savedSubleases !== undefined" style="text-align: left; color: var(--DarkGray)">You have no favorited subleases at the moment. Go out and
            favorite!</h3>
        </div>
        <div *ngIf="savedSubleases && savedSubleases.length > 0" class="horizontal-card-list">
          <div class="card saved-card col-md-3" *ngFor="let property of savedSubleases; let i = index">
            <a [routerLink]="['/view-sublease', property.id]" style="text-decoration: none; color: black">
              <div class="row justify-content-center" style="margin: 0">
                <img class="card-img-top img-fluid"
                     src={{this.imageService?.getPhoto(property)}}
                     alt="Photo of a Property Listing">
              </div>

            </a>
            <div class="card-body" style="margin-left: 1em; margin-right: 1em; margin-bottom: 1em">
              <div class="row">
                <h5 style="float: left">{{property.address}}</h5>
              </div>
              <div class="row">
                <h5 style="float: right">{{property.price != undefined ? '$' + (property.price | number:'.0-0') : ''}}</h5>
              </div>
              <div *ngIf="property.description" class="row">
                <p style="float: left; color: var(--GrayChateau)">{{property.description}}</p>
              </div>
              <div class="row">
                <p *ngIf="property.amenities == null">No amentities</p>
                <p *ngIf="property.amenities != null" style="margin-bottom: 0;">Amentities</p>
                <mat-icon *ngFor="let amenity of property.amenities" matTooltip="{{amenity.title}}"
                          style="margin-right: 16px" svgIcon="{{amenity.url}}"></mat-icon>
              </div>
              <div class="footer-btn">
                <i (click)="favorite(property.id, i)"
                   [style.color]="'red'" class="fa fa-trash"
                   aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-items">
      <div class="col">
        <h3>Posted Subleases</h3>
        <div [hidden]="!pullingPostedSublets" class="col justify-content-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div *ngIf="!pullingPostedSublets && (postedSubleases === undefined || postedSubleases.length === 0)">
          <br>
          <!-- Images courtesy of Scott Tusk https://dribbble.com/Tusk -->
          <img src="../../assets/images/cafe-empty-state.jpg" class="rounded d-block" height="300" width="400"/>
          <br>
          <h3 *ngIf="postedSubleases === undefined"
              style="text-align: left; color: var(--red)">Uh oh! A problem occured while loading posts.</h3>
          <h3 *ngIf="postedSubleases !== undefined && (currentUser && profile && profile.email === currentUser.email)"
              style="text-align: left; color: var(--DarkGray)">You have no posts. Go out and post!</h3>
          <h3 *ngIf="(currentUser === undefined || (currentUser && profile && profile.email !== currentUser.email)) && postedSubleases !== undefined"
              style="text-align: left; color: var(--DarkGray)">This user does not post.</h3>
        </div>
        <div *ngIf="postedSubleases && postedSubleases.length > 0" class="horizontal-card-list">
          <div class="card posted-card col-md-3" *ngFor="let property of postedSubleases; let i = index">
            <a [routerLink]="['/view-sublease', property.id]" style="text-decoration: none; color: black">
              <div class="row justify-content-center" style="margin: 0">
                <img class="card-img-top img-fluid"
                     src={{this.imageService?.getPhoto(property)}}
                     alt="Photo of a Property Listing">
              </div>
            </a>
            <div class="card-body">
              <div class="row">
                <h5 style="float: left">{{property.address}}</h5>
              </div>
              <div class="row">
                <h5 style="float: right">{{property.price != undefined ? '$' + (property.price | number:'.0-0') : ''}}</h5>
              </div>
              <div *ngIf="property.description" class="row">
                <p style="float: left; color: var(--GrayNurse)">{{property.description}}</p>
              </div>
              <div class="row">
                <p *ngIf="property.amenities == null">No amentities</p>
                <p *ngIf="property.amenities != null" style="margin-bottom: 0;">Amentities</p>
                <mat-icon class="posted-icon" *ngFor="let amenity of property.amenities"
                          matTooltip="{{amenity.title}}"
                          style="margin-right: 16px; color: white !important;" svgIcon="{{amenity.url}}"></mat-icon>
              </div>
              <div *ngIf="currentUser && profile && profile.email == currentUser.email" class="footer-btn">
                <i (click)="editPost(property)" matTooltip="Edit" class="fa fa-edit" aria-hidden="true"
                   style="color: var(--GrayNurse); margin-right: 1em"></i>️
                <i (click)="confirmDelete(property.id, i)"
                   [style.color]="'red'" class="fa fa-trash"
                   aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
