<h2 mat-dialog-title style="color: var(--OxfordBlue)">Update Profile</h2>
<form #profileForm="ngForm">
  <div mat-dialog-content style="overflow-y: hidden">
    <div class="email-input">
      <mat-form-field style="width: 100%">
        <label>Name</label>
        <input matInput type="text" [(ngModel)]="newUser.name" name="name"/>
      </mat-form-field>
    </div>
    <div class="email-input">
      <mat-form-field style="width: 100%">
        <label>Age</label>
        <input matInput type="number" [(ngModel)]="newUser.age" name="age"/>
      </mat-form-field>
    </div>
    <div class="email-input">
      <mat-form-field style="width: 100%">
        <label>Sex</label>
        <mat-select matInput [(ngModel)]="newUser.sex" name="sex">
          <mat-option *ngFor="let gender of sex" value="{{gender}}">{{gender}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="email-input">
      <mat-form-field style="width: 100%">
        <label>Major</label>
        <input matInput type="text" [(ngModel)]="newUser.major" name="major"/>
      </mat-form-field>
    </div>
    <div class="email-input">
      <mat-form-field style="width: 100%">
        <label>Grade</label>
        <mat-select matInput type="number" [(ngModel)]="newUser.grade" name="grade">
          <mat-option *ngFor="let grade of grades" value="{{grade.value}}">{{grade.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="profile-div">
      <div class="profile-btn-div">
        <button (click)="updateProfile()" [disabled]="profileForm.invalid" class="btn btn-secondary">Update</button>
      </div>
    </div>
  </div>
</form>
